/* der bestemmer jeg om scroll skal være mere flydende end at den hopper hårdt fra område til område*/
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: arial;
}

/* her styrer jeg overskrifterne på siderne*/
h1 {
  margin: 100px;
  text-align: center;
  padding: 0;
}

/* her styres style for navigationsbaren */
nav {
  width: 100%;
  background: #2a272a;
  overflow: hidden;
  position: fixed;
  top: 0;
}

/*her styres style for unorderet list*/
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/*her styres listen*/
li {
  float: right;
}

/* her styres achor tag i listen*/
a {
  padding: 20px;
  width: 100px;
  display: block;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}

/* her indikere jeg området Home*/
#section1 {
  height: 700px;
  background: #b8dfdc;
  display: inline-block;
  width: 100%;
}

/* her indikere jeg området prjoects*/
#section2 {
  height: 700px;
  background: #292927;
  display: inline-block;
  width: 100%;
}

/* her indikere jeg området about*/
#section3 {
  height: 100%;
  background: #b8dfdc;
  display: inline-block;
  width: 100%;
}

.wrapper h1{
  text-align: center;
  font-size: 30px;
}

.img-area{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.single-img{
  padding: 0 20px 20px;

}

img:hover{
  opacity:60%;
  transition: .9s;
}

p{
  color: #fafafa;
  text-align: center;
  text-decoration: underline;
}







/* her indikere jeg området contact*/
#section4 {
  height: 100%;
  background: #000000;
  background: url(bg2.jpg) no-repeat center;
  background-size: cover;
  display: inline-block;
  width: 100%;
  padding: 40px 0;
}

#section4 h1 {
  color: #fafafa;
  margin: 20px 30px 30px 30px;
}

#section4 p{
float: right;
  color: #fafafa;
  bottom:5;
  margin-right: 30px;
  margin-top: 150px;
  opacity: 50%;
  font-style: italic;
}

/* her styres den lille dekorative kasse(devider)*/
.border {
  width: 200px;
  height: 10px;
  background: #fafafa;
  margin: 40px auto;
}

#section4 form{
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
}

#section4 .contact-form-text {
  display: block;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  margin: 20px 0;
  background: #111;
  padding: 20px 0;
  outline: none;
  color: #fafafa;
  text-transform: inherit;
  transition: 0.5s;
}

#section4 .contact-form-text:focus {
  box-shadow: 0 0 10px 4px #4b4a54;
}

textarea.contact-form-text {
  resize: none;
  height: 120px;
}

.button {
  margin: 0px 711px 0px 711px;
background-color: #2a272a ;
border-radius: 25px;
display: flex;
padding-left: 5px;
}

.button:hover {
  background: #4b4a54;
  cursor: pointer;
}

.footer-main{
  position: fixed;
  bottom: 0;
  background-color: #2a272a;
  width: 100%;
  height: 15px;
  margin: auto;
  padding: 20px 0;
}
.footer-main p{
  text-align: center;
  color: #fafafa;
  text-decoration: underline;
  font-style: italic;
  margin: auto;
}
